#about {
	padding-top: 20px;
}

#subheader {
	vertical-align: middle;
	font-size: 35px;
	text-align: center;
	padding: 20px;
}

#about-anchor {
	position: absolute;
	width: 0px;
	height: 0px;
}

#summary {
	/*background-color: #5d6368;*/
	padding: 40px;
	font-size: 27px;
	color: #ffffff;
}

#postfaq {
	background-color: #ffffff;
	padding: 50px;
   	font-size: 20px;
	color: #5d6368;
	text-align: justify;
}

#capabilities {
	display: table;
}

#capability-header {
	font-size: 25px;
	padding: 20px;
}

div.capability-row {
	display: table-row;
}

div.capability-cell {
	display: table-cell;
	text-align: center;
	padding: 7px;
	font-size: 20px;
}

#onourminds {
	padding: 20px;
	font-size: 15px;
}

#onourminds-header {
	font-size: 25px;
}