#contact {
   padding-bottom: 0px;
}

#contact-title {
	width: 400px;
	font-size: 40px;
	font-weight: bold;
}

#contact-method {
	width: 400px;
	font-size: 20px;
	text-align: left;
}

#dcpride {
	padding: 10px;
	color: #000000;
	text-align: center;
}

span.dcpride {
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}

#stripe {
	background-color: #5d6368;
	color: #ffffff;
	height: 120px;
	text-align: center;
}

#whitestripe {
	background-color: #ffffff;
	height: 50px;
	text-align: center;
}

/*begin star elements*/

div.outer-star {
	display: inline-block;
	padding: 30px;
	text-align: center;
	vertical-align: middle;
}

div.star {
   margin: 50px 0;
   position: relative;
   display: block;
   color: #5d6368;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid #5d6368;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}

div.star:before {
   border-bottom: 80px solid #5d6368;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}

div.star:after {
   position: absolute;
   display: block;
   color: #5d6368;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid #5d6368;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

/*end star elements*/